body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.hallo{
    color:gray;
}
.Name{
    color:orange;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-Button{
    text-decoration:none ;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.project{
    background-color: #E5E5E5;
    height: 600px;
}
.left{
    background-color: white;
    padding: 15px;
    float: left;
    margin: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgb(182, 182, 182);
}
.left img{
    width: 400px;
}
.all-card{
    display:flex;
    justify-content:space-between;
    margin: 5%;
}
.chat-section{
    background-image: url(image/chat-section.png);
    width: 50%;
    margin: auto;
    background-size: cover;
    padding: 50px;
    border-radius: 20px;
}
.chat-section h1{
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
}
.footer-part{
    margin-top: 100px;
}
.Button{
    text-decoration:none ;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}
.btn{
    display: inline-block;
    margin-left: 55%;
    margin-bottom: 1%;
    line-height: 1.8;
}
.stay-connected{
    text-align: center;
    margin-top: 70px;
}